<!DOCTYPE html>
<html lang="en">
<head>
	<script src="webjars/angularjs/1.5.7/angular.js" type="text/javascript"></script>
	<meta charset="utf-8"/>
</head>

    <body ng-app="sample">

    <h1>HELLO!</h1>

    <div ng-controller="samplecontroller">
    	
    	<h2>Welcome to the dessert of the real: {{samplehello.title}}!

    	</h2>

    </div>    	


    <script type="text/javascript">
    	angular.module("sample", []).controller("samplecontroller", function($scope){

    		$scope.samplehello = {};
    		$scope.samplehello.title = "AngularJS";

    	});
    </script>

    </body>

</html>