<!DOCTYPE html>
<html lang="en">

<head>
    <script src="webjars/angularjs/1.5.7/angular.js" type="text/javascript"></script>
    <meta charset="utf-8"/>
</head>

<body>

<h1>HELLO!</h1>

<div ng-app="" ng-init="books=[
        {title:'Title 1',author:'Author 1',genre:'Genre 1'},
        {title:'Title 2',author:'Author 2',genre:'Genre 2'},
        {title:'Title 3',author:'Author 3',genre:'Genre 3'}
        ]">

    <p><input type="text" ng-model="yourname"/></p>
    <p>Hello <span ng-bind="yourname"></span></p>

    <p>Here are the books!</p>

    <ol>
        <li ng-repeat="book in books">
            {{'Title :<' + book.title + '>, Author: <'+book.author + '> Genre: <'+book.genre+'>'}}
        </li>
    </ol>

</div>


</body>

</html>